* {
    font-family: 'Roboto', sans-serif;
    color: #111;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #EEE;
}

.content {
    width: 600px;
    padding: 5px;
    background-color: #FFF;
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
ul {
    list-style-type: none;
}
ul li {
    font-size: 16px;
    text-align: left;
    line-height: 2em;
}
.content .topology_name {
    font-size: 16px;
}