<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=stylesheet><title>ksd</title><style>html, body {
      margin: 0;
      padding: 0;
    }</style><link href=/css/app.8fbe1a1c6ca742d2217fbb12222d7ae8.css rel=stylesheet></head><body><div id=menu></div><div id=app></div><script type=text/javascript src=/js/manifest.795dd92d0355bda30b20.js></script><script type=text/javascript src=/js/vendor.373a692406ea1a98588a.js></script><script type=text/javascript src=/js/app.621c932a1eb104f43e91.js></script></body></html>