<html>
<head>
    <title>KafkaStreams Debugger</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
</head>
<body>
<div class="content">
    <h1>Acme</h1>
    <b class="topology_name"></b>
    <h2>Topics</h2>
    <ul class="topics_list"></ul>
    <h2>Stores</h2>
    <ul class="stores_list"></ul>
</div>
</body>
</html>