<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=stylesheet><title>ksd</title><style>html, body {
      margin: 0;
      padding: 0;
    }</style><link href=/../../main/resources/public/css/app.6d2bab308c87e91b4a132bdd289538df.css rel=stylesheet></head><body><div id=menu></div><div id=app></div><script type=text/javascript src=/../../main/resources/public/js/manifest.d2f40d19259b37f1ab41.js></script><script type=text/javascript src=/../../main/resources/public/js/vendor.373a692406ea1a98588a.js></script><script type=text/javascript src=/../../main/resources/public/js/app.621c932a1eb104f43e91.js></script></body></html>